google-search-results==2.4.2
langchain==0.0.232
langsmith==0.0.5
numpy==1.22.2
openai==0.27.5
openapi-schema-pydantic==1.2.4
pinecone-client==2.2.2
tiktoken==0.4.0
tokenizers==0.13.3
wikipedia==1.4.0
wolframalpha==5.0.0